<!-- 네비게이션바 -->
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('main.index') }}" class="brand-logo">DreamCar</a>
        <ul class="right hide-on-med-and-down"> <!-- 추천 받기 버튼 -->
            <li>
                <a href="{{ url_for('reco.recommend') }}">추천받기</a>
            </li>
        </ul>
        {% if g.user %} <!-- 사용자의 로그인 유무, 로그인 되어 있을 때 -->
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        </ul>
        {% else %} <!-- 로그인 되어 있지 않을 때 -->
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ url_for('auth.signup') }}">회원가입</a>
            </li>
            <li>
                <a href="{{ url_for('auth.login') }}">로그인</a>
            </li>
        </ul>
        {% endif %}

        <!-- 모바일 버전 -->
        {% if g.user %} <!-- 사용자의 로그인 유무, 로그인 되어 있을 때 -->
        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        </ul>
        {% else %} <!-- 로그인 되어 있지 않을 때 -->
        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="{{ url_for('auth.signup') }}">회원가입</a>
            </li>
            <li>
                <a href="{{ url_for('auth.login') }}">로그인</a>
            </li>
        </ul>
        {% endif %}
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
