{% extends 'base.html' %}

{% block content %}

<div>
    <center>
    <br>
    <h3>어떤 차량을 원하시나요</h3>
    <hr>
    </center>   
</div>

<div align="center">
<div align="center">
<form name="selection" method="GET" action="{{ url_for('reco.result') }}">
    <div class='choice'>
    <br><h5> 가격대 </h5>
    <select id="price" name = "price" >
        <option value="0">상관없다</option><br>
        <option value="1000-2000">1000-2000</option><br>
        <option value="2000-3000">2000-3000</option><br>
        <option value="3000-4000">3000-4000</option><br>
        <option value="4000-5000">4000-5000</option><br>
        <option value="5000-10000">5000 이상</option><br>
    </select></div>
    
    <div class='choice'>
    <br><h5> 몇인승 차량을 원하시나요? </h5>
    <select id="people" name = "people">
        <option value="0">상관없다</option><br>
        <option value="5"> 5인승 </option><br>
        <option value="7"> 7인승 </option><br>
        <option value="9"> 9인승 </option><br>
    </select></div>
    
    <div class='choice'>
    <br><h5> 선호하는 차종이 무엇인가요? </h5>
    <select id="cartype" name = "cartype">
        <option value="0">상관없다</option><br>
        <option value="경형">경형</option><br>
        <option value="소형">소형</option><br>
        <option value="준중형">준중형</option><br>
        <option value="중형">중형</option><br>
        <option value="준대형">준대형</option><br>
        <option value="대형">대형</option><br>
    </select></div>

    <!-- <div class='choice'>
    <p> 예시 </p>
    <label><input type='checkbox' name='type' value='0'> 상관없다 </label>
    <label><input type='checkbox' name='type' value='경형'> 경형 </label>
    </div> -->

    <div class='choice'>
    <br><h5> 연비 </h5>
    <select id="fuel" name = "fuel_effi" >
        <option value="0">상관없다</option><br>
        <option value="1">1등급(16km/l~)</option><br>
        <option value="2">2등급(~15.9km/l)</option><br>
        <option value="3">3등급(~13.7km/l)</option><br>
        <option value="4">4등급(~11.5km/l)</option><br>
        <option value="5">5등급(~9.3km/l)</option><br>
    </select></div>

    <div class='choice'>
    <br><h5> 연료 종류 </h5>
    <select id="fuel" name = "fuel" >
        <option value="0">상관없다</option><br>
        <option value="전기">전기</option><br>
        <option value="가솔린">가솔린</option><br>
        <option value="디젤">디젤</option><br>
    </select></div>

    <div class='choice'>
    <br><h5> 선호하는 브랜드가 있나요? </h5>
    <select id="manufacturer" name = "manufacturer" >
        <option value="0">상관없다</option><br>
        <option value="현대">현대</option><br>
        <option value="기아">기아</option><br>
        <option value="벤츠">벤츠</option><br>
        <option value="제네시스">제네시스</option><br>
        <option value="BMW">BMW</option><br>
        <option value="쉐보레">쉐보레</option><br>
    </select></div>

    <br>
    <br>
    <button type="submit" class="btn btn-primary">제출하기</button>
    <br>
    <br>
    
    </form>
    
    
</div>
{% endblock %}